.DS_Store
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz


analyses/offtargets/scripts/cds.R
analyses/casrx/konermann
analyses/offtargets/objects/backup
analyses/casrx/sanjana/data/transcript_rna_celline.tsv
